.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.input-container input[type="text"],
.input-container textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.input-container textarea {
    resize: none;
}

.input-container button {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #007bff; /* Outline rengi */
    background-color: transparent; /* Arka planı şeffaf yapar */
    color: #007bff; /* Yazı rengi */
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.input-container button:hover {
    background-color: #007bff; /* Hover'da arka plan rengini mavi yapar */
    color: #fff; /* Hover'da yazı rengini beyaz yapar */
}

.input-container button:last-of-type {
    margin-left: 10px;
}
