.recipeList {
    width: 90%;
    display: flex; /* Esnek kutu düzeni kullanır */
    flex-wrap: wrap; /* Kartların birden fazla satıra yayılmasına izin verir */
    justify-content: center; /* Kartları yatayda ortalar */
    margin: 5px auto;
    gap: 15px; /* Kartlar arasında boşluk bırakır */
    padding: 20px; /* Üst, alt, sağ ve sol boşluk ekler */
    background-color: #ffb142; /* Arka plan rengini açık gri yapar */
    border: 3px solid #b33939;
    border-radius: 8px;
    
}

@media (max-width: 768px) {
    .recipeList {
        flex-direction: column; /* Ekran küçükse kartları dikey olarak hizalar */
        align-items: center; /* Kartları dikeyde ortalar */
    }
}
