form {
    
    display: flex;
    flex-direction: column; /* Elemanları dikey sıraya dizer */
    width: 100%; /* Formun genişliğini 100% yapar */
    max-width: 600px; /* Formun maksimum genişliğini ayarlar */
    margin: 15px auto; /* Formu yatayda ortalar */
    padding: 20px; /* Formun etrafına iç boşluk ekler */
    background-color: #fff; /* Formun arka plan rengini beyaz yapar */
    border-radius: 8px; /* Formun köşelerini yuvarlatır */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hafif bir gölge ekler */
}

input, textarea {
    margin-bottom: 15px; /* Elemanlar arasında boşluk bırakır */
    padding: 10px; /* İçerik ile kenar arasında boşluk bırakır */
    border: 1px solid #ccc; /* Kenarlık rengi ve kalınlığı */
    border-radius: 4px; /* Kenarları yuvarlatır */
    font-size: 16px; /* Yazı boyutunu ayarlar */
}

button {
    padding: 10px 20px; /* İç boşluk ayarlar */
    border: 2px solid #007bff; /* Kenarlık rengi ve kalınlığı */
    border-radius: 4px; /* Kenarları yuvarlatır */
    background-color: transparent; /* Arka plan rengini şeffaf yapar */
    color: #007bff; /* Yazı rengini mavi yapar */
    font-size: 16px; /* Yazı boyutunu ayarlar */
    cursor: pointer; /* İmleci butona tıklanabilir hale getirir */
    transition: color 0.3s, border-color 0.3s; /* Renk ve kenarlık geçişi animasyonu */
}

button:hover {
    color: #fff; /* Hover durumunda yazı rengini beyaz yapar */
    background-color: #007bff; /* Hover durumunda arka plan rengini mavi yapar */
    border-color: #007bff; /* Hover durumunda kenarlık rengini mavi yapar */
}
.form .h5 {
    font-size: 18px; /* Yazı boyutunu ayarlar */
    font-weight: 600; /* Yazı kalınlığını ayarlar */
    color: #333; /* Yazı rengini koyu gri yapar */
    margin-bottom: 15px; /* Alt boşluk bırakır */
    text-align: center; /* Yazıyı ortalar */
}
.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
  }
  

